/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero h1 {
    font-size: 2.5rem;
    color: #004d40;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00695c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: #004d40;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.carousel {
    position: relative;
    max-width: 600px; /* Define um tamanho fixo para o carrossel */
    height: 400px; /* Define a altura */
    margin: 20px auto; /* Centraliza o carrossel */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: 100%; /* Garante que as imagens se ajustem à altura */
    object-fit: cover; /* Mantém proporções, cortando o excesso */
    display: none; /* Esconde todas as imagens por padrão */
}

.carousel-image.active {
    display: block; /* Mostra apenas a imagem ativa */
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Intro Section */
.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #f1f8e9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.intro h2 {
    font-size: 2rem;
    color: #388e3c;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.2rem;
    color: #555;
    max-width: 600px;
    line-height: 1.5;
    margin: 0 auto 20px auto;
}

.explore-button {
    padding: 10px 20px;
    background-color: #388e3c;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.explore-button:hover {
    background-color: #2e7d32;
    transform: scale(1.05);
}
